<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class style binding</title>
</head>
<body>

    <div v-cloak id="app">
        <label>
            <input type="checkbox" v-model="isPurple" />purple
        </label>
        <select v-model="selectedColor">
            <option value="">White</option>
            <option value="text-blue">Blue</option>
            <option value="text-orange">Orange</option>
        </select>
        <input type="number" value="{size}"  v-model="size" />
        <div class="circle" :class="[selectedColor,circle_classes]"
        :style="[{width:circle_style,height:circle_style,lineHeight:circle_style},{transform:'rotate(30deg)'}]">
            Hallo!
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
</body>
</html>