<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet"  href="./style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conditional rendering</title>
</head>
<body>
    
    <div v-cloak id="app">
        <p v-if="mode == false"> Hello, Iam a paragraph</p>
        <button v-on:click="togglePara">toggle</button>

        <template v-if="number == 1">
            <p>I am a v-if</p>
        </template>
        <template v-else-if="number == 2">
            <p>I am a v-else-if</p>
        </template>
        <p>I am a v-else</p>

        <p v-show="number == 1">mode is shown</p>


    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
</body>
</html>